form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 500px;
}

/* Style the file input */
input[type="file"] {
  margin-bottom: 20px;
  background-color: #F0FFF0;
}

/* Style the submit button */
button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

/* Style the submit button on hover */
button[type="submit"]:hover {
  background-color: #3e8e41;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: green;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
